.home_container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    background-image: radial-gradient(#d0d0d0 0.65px, #ffffff 0.65px);
    background-size: 13px 13px;
    color: black;
    display: flex;
}