 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&family=Poppins:wght@100;200;300;500;800&display=swap');

 .main-body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins";
  color: white;
  position: relative;
opacity: 1;
background-image: radial-gradient(#2E7D32 0.65px, #3B403A 0.65px);
background-size: 13px 13px;
position: relative;
z-index: 1;
/* #bacd3bb4 */
  }


.footer {
  position: absolute;
  bottom: 0;
  border-top: #3B403A;
  color: rgba(255, 255, 255, 0.775);
  font-size: 14px;
  padding: 1rem;
  font-weight: 200;
  width: 100%;
  z-index: 999;

}
button{
  transition:  all .2s ease-in-out;
}
button:hover{
  font-weight: 400;
  transform: scale(.95);
}
@media screen and (max-width: 768px) {
.main-body {
  padding-bottom: 3rem;
}
 }